/* Medium-Sized Switch */
.switch {
  font-size: 15px;
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.7em;
  cursor: pointer;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: #20262c;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.5s;
  border-radius: 25px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  left: 8%;
  bottom: 12%;
  box-shadow: inset 7px -3px 0px 0px #ececd9, -3px 1px 3px 0px #dadada;
  background: var(--background);
  transition: 0.5s;
}

.decoration {
  position: absolute;
  content: "";
  height: 2px;
  width: 2px;
  border-radius: 50%;
  right: 15%;
  top: 10%;
  background: #e5f041e6;
  backdrop-filter: blur(8px);
  transition: all 0.5s;
  box-shadow: -6px 8px 0 #e5f041e6, 6px 12px 0 #e5f041e6, -13px 2px 0 #e5f041e6,
    -16px 8px 0 #e5f041e6, -6px 19px 0 #e5f041e6, -12px 21px 0 #e5f041e6;
}

input:checked ~ .decoration {
  transform: translateX(-15px);
  width: 8px;
  height: 8px;
  background: white;
  box-shadow: -10px 0 0 white, -5px 0 0 1px white, 5px 12px 0 1px white,
    1px 13px 0 white, 9px 13px 0 white;
}

input:checked + .slider {
  background-color: #5494de;
}

input:checked + .slider:before {
  transform: translateX(85%);
  box-shadow: inset 12px -3px 0px 12px #efdf2b, 0 0 8px 0px #efdf2b;
}
